select {
  width: 98%;
  margin-top: 3%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 80%;

}

#lastSelect{
margin-bottom:5%;

}


input {
  width: 98%;
  padding-top:2px;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 80%;
}

button {
  text-align: center;
 
 
 
}

#formulario {
  background-color: rgba(255, 255, 255, 0.151);
  height: 50%;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  border: 2px solid rgb(12, 14, 3);
  border-bottom: none;
  border-top: none;
  border-radius: 5px;
  padding: 10px;
}

#formulario input,
#formulario select,
#formulario textarea {
  box-shadow: 0 2px 4px rgba(148, 3, 3, 0.25);
}
/*
#formulario {
  background-color: rgba(255, 255, 255, 0.151);
  height: 50%;
  margin-bottom:auto;
  margin-top: auto;
  text-align: center;
  border: 2px solid rgb(12, 14, 3);
  box-shadow: rgba(255, 255, 255, 0.151);
  border-bottom: none;
  border-top: none;
  border-radius: 5px;
  padding: 10px;
}*/
.form-row{
  background-color:rgba(5, 0, 0, 0.644);
  color:white;
}

