html {
background-color: rgba(245, 245, 220, 0.192);

}

body {
  background-color: beige;
 align-items: center;
}

.App{
 background-color: rgba(245, 245, 220, 0.192);
 height: auto;
}

  

/* Estilos para dispositivos não móveis */

@media not all and (max-width: auto) {

  /* Seu código CSS aqui */
  /* Por exemplo, ocultar elementos específicos */
  body {
    display: none;
  }
}

@media not all and (max-height: 900) {

  /* Seu código CSS aqui */
  /* Por exemplo, ocultar elementos específicos */
  body {
    display: none;
  }
}