html {
 background-image:url('./assets/backgroun1.jpg');
 background-size: auto;

}

body {
  color: white;
 align-items: center;
 background-image:url('./assets/backgroun1.jpg');
 background-size: auto;

}

.App{
 background-color: rgba(66, 15, 15, 0.877);
}
  

/* Estilos para dispositivos não móveis */

@media not all and (max-width: 900px) {

  /* Seu código CSS aqui */
  /* Por exemplo, ocultar elementos específicos */
  body {
    display: none;
  }
}

@media not all and (max-height: 750px) {

  /* Seu código CSS aqui */
  /* Por exemplo, ocultar elementos específicos */
  body {
    display: none;
  }
}